html {
    --font-size-200:0.6rem;
    --font-size-300: 0.85rem; /* 12px */
    --font-size-400: 1rem;    /* 16px, base */
    --font-size-500: 1.25rem; /* 20px */
    --font-size-600: 1.5rem;  /* 24px */
    --font-size-700: 1.75rem; /* 28px */
    --font-size-800: 2rem;    /* 32px */
    --font-size-900: 2.25rem; /* 36px */
    --font-size-1000:2.5rem;
    --font-size-1100:2.75rem;

    
    /* etc. */
  }

  body {
    background-image: url("../ressources/images/altbodyBG.png");
    background-repeat: no-repeat;   
    background-size: cover;
    background-color: #fff9f4;
    
  }
.content p{
    margin: 0;
}

.container {
    position: relative;
    max-width: 30vw;
    height: 80vh;
    margin: 10vh auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    
}
.container .card, .container .content1, .container .content2,.container .content3,.container .content4 {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    
  
    
    
    

    -webkit-transition: -webkit-transform 1s;
       -moz-transition:    -moz-transform 1s;
        -ms-transition:     -ms-transform 1s;
         -o-transition:      -o-transform 1s;
            transition:         transform 1s;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.container .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    
    
    
    
   
    
    color: black;
    text-align: center;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
}
.container .card.flipped,
.container .card .face2 {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.container .card .face .content1 {
    background-image: url("../ressources/images/programmBG.png");
    
    background-size:60vh;
    background-repeat: repeat;
    background-position: 7.5% 50%;
    color: black;
    
   
}
.container .card .face .content2 {
    background-image: url("../ressources/images/programmBG.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 20%;
    
}
.container .card .face .content3 {
    background-image: url("../ressources/images/programmBG.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 20%;
}
.container .card .face .content4 {background-color: #fad997;}

.store {
    display: none;
   
}
.buttons {
    text-align: center;
    margin: -14vh
}

.center p {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-style: normal;
  

}

 .container .center .handwriting{
    font-family: 'Great Vibes', cursive;
    font-size: var(--font-size-1000);
    margin: 1rem 0 1em 0;
}
.container .center .homegroup{
    margin: -1.5rem 0 1rem 0;
}

 .container .center .small {
    font-size: var(--font-size-700);
}

.allCaps{
   text-transform: uppercase;
}

.center .smaller{
    font-size:var(--font-size-400);
    
}

@media screen and (max-width:600px) {
    body {background-position: 15% 10%;}
    .container .card .face .content2{
        background-image: url("../ressources/images/programmBGaltSize.png");
        background-position: 95% 28%;
        }
    .container .card .face .content3{
        background-image: url("../ressources/images/programmBGaltSize.png");
        background-position: 85% 85%;
    }

    .container{
        max-width: 75vw;
        height: 80vh;
        margin: 10vh auto;
    }
    .container .center p{
        font-size: var(--font-size-400);
        margin: 0.4rem 0 0.1rem 0
    }
    .container .center .handwriting{
        font-size: var(--font-size-700);

    }
    .container .center .small{
        font-size: var(--font-size-500);
    }
    .container .center .smaller{
        font-size: var(--font-size-300);
        margin-top:-0.2rem
    }
    .container .center .master{
        margin-top: 6rem;
        font-size: var(--font-size-200);
    }
}

@media screen and (min-width:1300px) {
    body {background-position: 15% 10%;}
    .container .card .face .content2{
        background-image: url("../ressources/images/programmBG.png");
        background-position: 95% 28%;
        background-size: cover;
        }
    .container .card .face .content3{
        background-image: url("../ressources/images/programmBG.png");
        background-position: 85% 85%;
        background-size: cover;
    }
    .container .card .face .content1 {
        background-image: url("../ressources/images/programmBG.png");
        
        background-size:cover;
        background-repeat: repeat;
    }

    .container{
        min-width: 45vw;
        
        height: 80vh;
        margin: 5vh auto 15vh auto
    }
    
}

@media screen and(min-width:600px) {
    .container .center .normalText{font-size: var(--font-size-800);}
    
    
}

.content .center{
    padding: 0 5%;
    
    position:absolute;
    top:50%;   
    left: 50%;
    margin-right:-50%;
    transform: translate(-50%, -50%); 
    
}
.content1 .center{
    padding: 0% 3%;
    margin-top: -2rem;
    
    position:absolute;
    top:50%;   
    left: 50%;
    margin-right:-50%;
    transform: translate(-50%, -50%); 
    
}    